body {
  margin: 0;
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  color: #222;
  background-color: #e0dedc;
}

header {
  padding: 4rem 1.5rem;
  text-align: center;
  background: #ffffff;
}

header h1 {
  margin-bottom: 0.5rem;
}

.cta {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  background: #816d5b;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
}

.hero {
  position: relative;
  min-height: 80vh;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.152),
      rgba(0, 0, 0, 0.162)
    ),
    url("assets/images/sang_bilde3.jpg");
  background-size: cover;
  background-position: top 10% right 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 2rem;
}


/*.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/images/sang_bilde3.jpg");
  background-size:60%;   /* gjør bildet “større” enn container → zoom ut-effekt 
  background-position: top right 25%;  /* flytter fokus mot høyre 
  background-repeat: no-repeat;
  z-index: 0;
  filter: brightness(0.9); /* litt mørkere, som gradient 
}

/* Tekst over bildet */
.hero-content {
  position: absolute;
  top: 50%;
  left: 10%;                    /* flytter innhold mot venstre på store skjermer */
  transform: translateY(-50%);
  z-index: 1;
  max-width: 700px;
  text-align: center;
}

/* Responsiv tekst */
.hero h1 {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-family:'Fraunces', serif;
  letter-spacing: 0.05em;
  margin-bottom: 0.5rem;
  line-height: 1.1;
}

.hero p {
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  margin-bottom: 2rem;
  line-height: 1.4;
}

/* MOBILRESPONSIVITET */
@media (max-width: 768px) {
  .hero {
    background-position: top 10% left 55%;
  }

  .hero-content {
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 90%;
    margin-top: 25px;
  }

  .hero h1 {
    font-size: clamp(1.5rem, 8vw, 2.5rem);
    white-space: nowrap;
    padding: 0.75rem 1.5rem;
    background: #816d5bb7;
    border-radius: 4px;
  }

  .hero p {
    font-size: clamp(0.9rem, 5vw, 1.1rem);
  }
}


main {
  max-width: 800px;
  margin: auto;
  padding: 2rem 1.5rem;
}

section {
  margin-bottom: 3rem;
}

.repertoar-section {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 12rem;
  align-items: center;
}

.repertoar-image img {
  width: 160%;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
}

/* Litt luftigere lister */
#repertoar ul {
  list-style: inside;
  padding-left: 0;
}

#repertoar li {
  padding: 0.4rem 0;
  border-bottom: 2px solid #eee;
}

/* Mobil */
@media (max-width: 768px) {
  .repertoar-section {
    grid-template-columns: 1fr;
  }

  .repertoar-image {
    margin-top: -150px;
    max-width: 200px;
    margin-left: 23px;
  }
}

h2, h3 {
  font-family:'Cormorant Garamond', serif;
  letter-spacing: 0.02em;
}
